/* Logo
---------------------------------------------------------------------------- */

.logo {
  display: block;
  padding-right: var(--m);
  padding-bottom: var(--s);
  color: var(--accent);
  font-size: var(--l);
}


/* Navigation
---------------------------------------------------------------------------- */

.main-navigation {

  padding-top: var(--l);
  padding-left: var(--l);
}


/* Content
---------------------------------------------------------------------------- */

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  overflow: auto;
}


/* Dir List
---------------------------------------------------------------------------- */

.dir-list-column{
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--darker);
}

.dir-list{
  
  overflow-x: hidden;
  overflow-y: auto;
}

.dir-list__item{
  display: block;
  padding: var(--xxs);
  padding-left: 0;
  margin-left: var(--l);
}

.dir-list__item--is-active{
  background-color: var(--dark);
  padding: var(--xxs);
  border-radius: var(--radius-s);
  margin-left: calc(var(--l) - var(--xxs));
  margin-right: calc(var(--radius-s) * -1);
}


/* Stage
---------------------------------------------------------------------------- */

#stage{
  height: 100vh;
  position: relative;
}

#stageContent{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#stageContent.stage--centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

#stageContent.stage--normal{
  padding: var(--xl) var(--l);
  position: relative;
}



/* image
---------------------------------------------------------------------------- */

.image{
  max-width: 50%;
}


/* search-info
---------------------------------------------------------------------------- */

.search-info{
  padding-bottom: var(--l);
}

.search-info__item{
  color: var(--light);
  display: inline-block;
  padding-right: var(--s);
}

.search-info__item.important{
  display: block;
  padding: var(--xs) 0;
  color: var(--lighter);
  border-top: solid var(--border-stroke-weight-s) var(--lighten);
  margin-top: var(--s);
}


.search-info__item .material-icons{
  color: var(--ligher);
  margin-right: var(--xxs);
}


/* search
---------------------------------------------------------------------------- */

.search{
  margin-bottom: var(--s);
  margin-right: var(--l);
  border-bottom: solid var(--border-stroke-weight-s) var(--accent);
  transition: opacity 0.3s;
}

.search--is-hidden{
  opacity: 0;
}

.search .material-icons{
  padding-bottom: var(--xxs);
}

/* Forms
---------------------------------------------------------------------------- */

.form{
  padding-top: var(--m);
}

.form-field{
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  color: var(--lightest);
  width: 90%;
}

.form-field:focus {
  outline:none;
}

.form-field-wrap{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: var(--m);
  max-width: calc(var(--m) * 40);
}

.form-field-wrap .form-field{
  margin-right: var(--l);
  border-bottom: none;
  transition: opacity 0.3s;
  background-color: var(--lighten);
  padding: var(--xs);
  width: 100%;
}

.form-field-wrap label{
  color: var(--light);
}

.form-field-wrap textarea{
  background-color: var(--lighten);
  padding: var(--xs);
  min-height: calc(var(--m) * 5);;
}

.form-field-info{
  display: block;
  position: relative;
  background-color: var(--light);
  height: var(--border-stroke-weight);
  margin-bottom: var(--xs);
}
.form-field-info:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--accent);
}

.form-field-info.f10:after{
  right: calc(90%);
}

.form-field-info.f20:after{
  right: calc(80%);
}

.form-field-info.f5:after{
  right: calc(95%);
}

.form-field-info.f0:after{
  right: calc(100%);
}


.form-field-info.f95:after{
  right: calc(5%);
  background-color: red;
}

.form-submit{
  margin-top: var(--m);
  display: inline-block;
  align-items: center;
  flex-direction: row;
  width: auto;
  background-color: var(--accent);
  padding: 0 var(--xs);
  color: var(--darkest);
  border-radius: var(--radius-s);
}

.form-submit .material-icons{
  color: var(--darkest);
  margin-right: 0;
  margin-left: var(--xxs);
}

.form-submit .form-field{
  width: auto;
  color: var(--darkest);
  background-color: transparent;
  margin-right: 0;
}


/* two-colums
---------------------------------------------------------------------------- */
.two-colums{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--m);
}


/* image-info
---------------------------------------------------------------------------- */
.image-info{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--dark);
  z-index: 100;
}

.image-info > * {
  margin: var(--l) var(--m);
}

.image-info__item{
  color: var(--light);
  display: block;
  padding-right: var(--s);
}

.image-info__item .material-icons{
  color: var(--ligher);
  margin-right: var(--xxs);
}

.image-info__item .material-icons[data-state=interactive]{
  color: var(--accent);
}
